$pink: #ab05f2;
$purple: #7d07f2;
$blue: #5207f2;
$teal: #23d9b7;
$yellow: #d7f205;

$pink-rgba: rgba(171, 4, 242, 1);
$purple-rgba: rgba(124, 7, 242, 1);
$blue-rgba: rgba(81, 7, 242, 1);
$teal-rgba: rgba(34, 216, 183, 1);
$yellow-rgba: rgba(214, 242, 4, 1);

html {
  background-color: $blue;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  padding: 1em;
  text-align: center;

  button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}

h1 {
  text-align: center;
}

section {
  width: 80%;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em auto;

  h2 {
    margin-top: 0;
  }
}

.background-light {
  background-image: linear-gradient(to top right, $purple, $teal);

  header {
    background: rgba(124, 7, 242, 0.2);
    box-shadow: -3px 3px 15px -5px #444;

    a,
    a:hover,
    a:visited {
      text-decoration: none;
      color: #fff;
      padding: 0.1em;
      border-radius: 0.1em;
      margin: 0.5em;
    }
  }

  section {
    background: rgba(255, 255, 255, 0.6);
    color: $blue;
    box-shadow: -3px 3px 15px -5px #444;
  }
}

.background-dark {
  background-image: linear-gradient(to top right, $blue, $teal);

  header {
    background: rgba(124, 7, 242, 0.2);
    box-shadow: -3px 3px 15px -5px #444;

    a,
    a:hover,
    a:visited {
      text-decoration: none;
      color: #fff;
      padding: 0.1em;
      border-radius: 0.1em;
      margin: 0.5em;
    }
  }

  section {
    background: rgba(100, 100, 100, 0.6);
    color: #fff;
    box-shadow: -3px 3px 15px -5px #444;
  }
}
